{{ define "base" }}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Welcome to Bestfoodnearme.com !</title>
	<style>
		@media only screen and (max-device-width: 480px) {
			table[class="table"], td[class="cell"] {
				width: 320px !important;
			}
			p[class="footer-address"] {
				font-size: 22px !important;
				line-height: 28px !important;
				text-align: center !important;
				padding-top: 10px !important;
				margin: 0px 30px !important;
			}
			p[class="footer-unsubscribe"] {
				font-size: 18px !important;
				line-height: 24px !important;
				text-align: center !important;
				padding-top: 15px !important;
			}
			table[class="button"] {
				height: 90px !important;
				width: 540px !important;
				background-color: #81bd21 !important;
				margin: 40px 0px 0px !important;
			}
			td[class="button"] {
				padding: 0px 45px !important;
			}
			a[class="button-font"] {
				font-size: 36px !important;
				color: #FFF !important;
			}
			a[class="button-font"] {
				font-size: 36px !important;
			}
			p[class="content"] {
				font-size: 34px !important;
				line-height: 42px !important;
				margin-bottom: 15px !important;
			}
			p[class="calltoaction"] {
				font-size: 30px !important;
				line-height: 40px !important;
				margin: 20px 0px !important;
			}
			div[class="login"] {
				font-size: 30px !important;
				line-height: 40px !important;
				margin: 10px 0px !important;
			}
			div[class="username"] {
				font-size: 30px !important;
				line-height: 40px !important;
				margin: 0px !important;
			}
			img[class="logo"] {
				width: 410px !important;
				height: 216px !important;
			}
			img[class="hide"] {
				display: none !important;
			}
			img[class="blue-header"] {
				width: 640px; !important;
				height: 16px !important;
				display:block !important;
				background-color: #fff !important;
			}
			img[class="white-header"] {
				display: none !important;
			}
			h4[class="header"] {
				font-size: 62px !important;
				line-height: 68px !important;
				margin-top: 5px !important;
			}
			h3[class="greenheader"] {
				font-size: 48px !important;
				line-height: 58px !important;
				margin: 15px 0px !important;
			}
			h2[class="subheader"] {
				font-size: 38px !important;
				line-height: 46px !important;
				margin-bottom: 30px !important;
			}
		}
	</style>

	<!-- Hiding the preheader -->
	<style type="text/css">span.preheader { display: none !important; }</style>

	<style type="text/css">
		body {
			margin:0;
			padding:0;
		}

	</style>

</head>
<body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing: antialiased;width:100% !important;-webkit-text-size-adjust:none;">
	<span class="preheader">
		Welcome to Bestfoodnearme.com the quickest way to find new food without reading reviews. To confirm your email please choose the option that best represents your interest.
	</span>

	<table width="100%" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td width="100%">

				<table width="640" cellpadding="0" cellspacing="0" border="0" align="center" class="table">

					<tr>
						<td width="640" class="cell" style="padding: 20px 20px 10px 20px;" align="center">

							<table width="640" cellpadding="0" cellspacing="0" border="0" class="table" bgcolor="#0d83dd">
								<tr bgcolor="#0d83dd">
									<td width="640">
										<table width="640" border="0" cellspacing="0" cellpadding="0" bgcolor="#0d83dd">

											<tr bgcolor="#0d83dd">
												<td width="30">&nbsp;</td>
												<td width="580">
													<table width="580" border="0" cellspacing="0" cellpadding="0" style="color: #FFF; text-align:left;">
														<tr>
															<td style="color:#fff; text-align:left;">
																<h4 style="font-size:46px;line-height:48px;font-family:Arial, Helvetica, sans-serif;margin-top:10px;margin-bottom:0;padding-bottom:0;font-weight:bold;color:#fff !important;" class="header">
																	<span style="color: #fff;">Nice to meet you!</span>
																</h4>
															</td>
														</tr>
													</table>
												</td>
												<td width="30">&nbsp;</td>
											</tr>

										</table>
										<table width="640" border="0" cellspacing="0" cellpadding="0" bgcolor="#0d83dd">

											<tr bgcolor="#0d83dd">
												<td width="30">&nbsp;</td>
												<td width="580" style="text-align:left; color:#FFF;">
													<h2 style="font-size:18px;line-height:24px;font-family:Arial, Helvetica, sans-serif;margin-top:10px;margin-bottom:20px;padding-bottom:0;font-weight:normal;color:#fff !important;" class="subheader">
														<span style="color:#FFF;">
														Welcome to Bestfoodnearme.com the quickest way to find new food without reading reviews. To confirm your email please choose the option that best represents your interest.
														</span>
													</h2>

												</td>
												<td width="30">&nbsp;</td>
											</tr>

										</table>
										<table width="640" border="0" cellspacing="0" cellpadding="0" bgcolor="#0d83dd">

											<tr bgcolor="#0d83dd">
												<td width="30">&nbsp;</td>
<td width="30">&nbsp;</td>
</tr>
</table>
</td>
</tr>
<!-- YOLO -->
<tr bgcolor="#0d83dd">
  <td>
  <table width="640" border="0" cellspacing="0" cellpadding="0" bgcolor="#0d83dd">

<tr bgcolor="#0d83dd">
<td width="640" style="padding-top: 20px;" class="button">
<table  width="400" border="0" cellspacing="0" cellpadding="0" style="color: #FFF; text-align:left;" bgcolor="#0d83dd" align="center">
<tr>
	<td width="400" style="padding-bottom: 8px;">

		<table height="45" cellpadding="0" cellspacing="0" style="background-color: #81bd21; border: 1px solid #0360a8; border-radius: 3px;" align="center" class="button">
		<tr>
		<td height="45" style="padding: 0px 35px; text-align:center;" valign="middle" class="button">
		<a href="https://bestfoodnearme.com/" target="_blank" style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 14px; color: #fff; text-decoration: none; text-shadow: #648c18 0 -1px 0;" class="button-font">Chef
		</a>
		</td>
		</tr>
		</table>
	</td>
</tr>
</table>
</td>
</tr>

</table>
</td>
</tr>
<!-- YOLO END -->
<!-- YOLO -->
<tr bgcolor="#0d83dd">
  <td>
  <table width="640" border="0" cellspacing="0" cellpadding="0" bgcolor="#0d83dd">

<tr bgcolor="#0d83dd">
<td width="640" style="padding-top: 20px;" class="button">
<table  width="400" border="0" cellspacing="0" cellpadding="0" style="color: #FFF; text-align:left;" bgcolor="#0d83dd" align="center">
<tr>
	<td width="400" style="padding-bottom: 8px;">

		<table height="45" cellpadding="0" cellspacing="0" style="background-color: #81bd21; border: 1px solid #0360a8; border-radius: 3px;" align="center" class="button">
		<tr>
		<td height="45" style="padding: 0px 35px; text-align:center;" valign="middle" class="button">
		<a href="https://bestfoodnearme.com/" target="_blank" style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 14px; color: #fff; text-decoration: none; text-shadow: #648c18 0 -1px 0;" class="button-font">Foodie
		</a>
		</td>
		</tr>
		</table>
	</td>
</tr>
</table>
</td>
</tr>

</table>
</td>
</tr>
<!-- YOLO END -->
<!-- YOLO -->
<tr bgcolor="#0d83dd">
  <td>
  <table width="640" border="0" cellspacing="0" cellpadding="0" bgcolor="#0d83dd">

<tr bgcolor="#0d83dd">
<td width="640" style="padding-top: 20px;" class="button">
<table  width="400" border="0" cellspacing="0" cellpadding="0" style="color: #FFF; text-align:left;" bgcolor="#0d83dd" align="center">
<tr>
	<td width="400" style="padding-bottom: 8px;">

		<table height="45" cellpadding="0" cellspacing="0" style="background-color: #81bd21; border: 1px solid #0360a8; border-radius: 3px;" align="center" class="button">
		<tr>
		<td height="45" style="padding: 0px 35px; text-align:center;" valign="middle" class="button">
		<a href="https://bestfoodnearme.com/" target="_blank" style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 14px; color: #fff; text-decoration: none; text-shadow: #648c18 0 -1px 0;" class="button-font">Personal Chef
		</a>
		</td>
		</tr>
		</table>
	</td>
</tr>
</table>
</td>
</tr>

</table>
</td>
</tr>
<!-- YOLO END -->
<!-- YOLO -->
<tr bgcolor="#0d83dd">
  <td>
  <table width="640" border="0" cellspacing="0" cellpadding="0" bgcolor="#0d83dd">

<tr bgcolor="#0d83dd">
<td width="640" style="padding-top: 20px;" class="button">
<table  width="400" border="0" cellspacing="0" cellpadding="0" style="color: #FFF; text-align:left;" bgcolor="#0d83dd" align="center">
<tr>
	<td width="400" style="padding-bottom: 8px;">

		<table height="45" cellpadding="0" cellspacing="0" style="background-color: #81bd21; border: 1px solid #0360a8; border-radius: 3px;" align="center" class="button">
		<tr>
		<td height="45" style="padding: 0px 35px; text-align:center;" valign="middle" class="button">
		<a href="https://bestfoodnearme.com/" target="_blank" style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 14px; color: #fff; text-decoration: none; text-shadow: #648c18 0 -1px 0;" class="button-font">Just Hungry
		</a>
		</td>
		</tr>
		</table>
	</td>
</tr>
</table>
</td>
</tr>

</table>
</td>
</tr>
<!-- YOLO END -->
<!-- YOLO -->
<tr bgcolor="#0d83dd">
  <td>
  <table width="640" border="0" cellspacing="0" cellpadding="0" bgcolor="#0d83dd">

<tr bgcolor="#0d83dd">
<td width="640" style="padding-top: 20px;" class="button">
<table  width="400" border="0" cellspacing="0" cellpadding="0" style="color: #FFF; text-align:left;" bgcolor="#0d83dd" align="center">
<tr>
	<td width="400" style="padding-bottom: 8px;">

		<table height="45" cellpadding="0" cellspacing="0" style="background-color: #81bd21; border: 1px solid #0360a8; border-radius: 3px;" align="center" class="button">
		<tr>
		<td height="45" style="padding: 0px 35px; text-align:center;" valign="middle" class="button">
		<a href="https://bestfoodnearme.com/" target="_blank" style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 14px; color: #fff; text-decoration: none; text-shadow: #648c18 0 -1px 0;" class="button-font">I need a snack
		</a>
		</td>
		</tr>
		</table>
	</td>
</tr>
</table>
</td>
</tr>

</table>
</td>
</tr>
<!-- YOLO END -->
<!-- YOLO -->
<tr bgcolor="#0d83dd">
  <td>
  <table width="640" border="0" cellspacing="0" cellpadding="0" bgcolor="#0d83dd">

<tr bgcolor="#0d83dd">
<td width="640" style="padding-top: 20px;" class="button">
<table  width="400" border="0" cellspacing="0" cellpadding="0" style="color: #FFF; text-align:left;" bgcolor="#0d83dd" align="center">
<tr>
	<td width="400" style="padding-bottom: 8px;">

		<table height="45" cellpadding="0" cellspacing="0" style="background-color: #81bd21; border: 1px solid #0360a8; border-radius: 3px;" align="center" class="button">
		<tr>
		<td height="45" style="padding: 0px 35px; text-align:center;" valign="middle" class="button">
		<a href="https://bestfoodnearme.com/" target="_blank" style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 14px; color: #fff; text-decoration: none; text-shadow: #648c18 0 -1px 0;" class="button-font">I need dessert
		</a>
		</td>
		</tr>
		</table>
	</td>
</tr>
</table>
</td>
</tr>

</table>
</td>
</tr>
<!-- YOLO END -->
</table>

</td>
</tr>
<tr>
<td>

<table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
								<tr valign="top">
									<td style="font-family:Arial, Helvetica, sans-serif; font-size: 15px; font-weight: bold; text-align: left; line-height: 22px; padding-top: 15px; color: #000;">

										<h3 style="font-size:32px;line-height:44px;font-family:Arial, Helvetica, sans-serif;margin-top:0;margin-bottom:0;padding-bottom:0;font-weight:bold; color: #628E0E;" class="greenheader">
											<span style="color: #628E0E;">We're always ready to help</span>
										</h3>

									</td>
								</tr>
							</table>
							<table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
								<tr valign="top">
									<td style="font-family:Arial, Helvetica, sans-serif; font-size: 15px; font-weight: bold; text-align: left; line-height: 22px; padding-top: 15px; color: #000;">

										<p style="font-size:18px;line-height:24px;font-family:Arial, Helvetica, sans-serif;margin-top:0;margin-bottom:0;padding-bottom:0;font-weight:normal;" class="content">
											No question is too big or small! Send us an email 
											<strong>bestfoodnearme.com</strong>
											<a href="mailto:mail@email.com" target="_blank" style="color: #00f;">pop us an email</a>
											anytime.
										</p>

									</td>
								</tr>
							</table>
							<table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
								<tr valign="top">
									<td style="font-family:Arial, Helvetica, sans-serif; font-size: 15px; font-weight: bold; text-align: left; line-height: 22px; padding-top: 15px; color: #000;">

										<p style="font-size:18px;line-height:24px;font-family:Arial, Helvetica, sans-serif;margin-top:0;margin-bottom:0;padding-bottom:0;font-weight:normal;" class="content">
											P.S.
											<a href="https://bestfoodnearme.com" target="_blank" style="color: #00f;">Forgot your password?</a>
										</p>

									</td>
								</tr>
							</table>

							<table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
								<tr>
									<td width="580" style="font-family:Arial, Helvetica, sans-serif; font-size: 15px; font-weight: bold; line-height: 22px; padding-top: 25px; padding-bottom: 25px; color: #000;" align="center">

										<a href="https://www.bestfoodnearme.com/" target="_blank">Bestfoodnearme.com</a>
									</td>
								</tr>
							</table>

							<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
								<tr>
									<td>
										<table width="640" cellpadding="0" cellspacing="0" border="0" style="border-top: 1px solid #dbd6d6;" align="center">
											<tr>
												<td valign="top" align="center">

													<p style="color:#8d8a8a;font-size:14px;font-family:Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:0;padding-top:15px;padding-bottom:0;line-height:18px;" class="footer-address">&copy; 2017 Bestfoodnearme </p>
												</td>
											</tr>
										</table>
										<table width="640" cellpadding="0" cellspacing="0" border="0" align="center">
											<tr>
												<td valign="top" class="footershow" align="center">

													<p style="color:#8d8a8a;font-size:14px;font-family:Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:0;padding-top:10px;padding-bottom:0;line-height:18px;" class="footer-address">
													New York, NY
													</p>
												</td>
											</tr>
										</table>
										<table width="640" cellpadding="0" cellspacing="0" border="0" align="center">
											<tr>
												<td valign="top" class="hide" align="center">

													<p style="color:#8d8a8a;font-size:14px;font-family:Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:0;padding-top:10px;padding-bottom:0;line-height:18px;" class="footer-address">
														mail@email.com	
													</p>
												</td>
											</tr>
										</table>

									</td>
								</tr>
							</table>

						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

</td>
</tr>
</table>

</body>
</html>
{{end}}
